click==8.4.2
click-default-group==1.2.4
iniconfig==2.3.0
packaging==26.3
pip==24.0
pluggy==1.6.0
Pygments==2.20.0
pytest==9.1.1
python-dateutil==2.9.0.post0
ruff==0.15.17
six==1.17.0
sqlite-fts4==1.0.3
tabulate==0.10.0
typing_extensions==4.16.0
wheel==0.48.0
